Flask==2.3.3
Bootstrap-Flask==2.3.0
Flask-Login==0.6.2
Flask-WTF==1.1.1
flask-htmx==0.3.1
Flask-APScheduler==1.12.4
flask-sock==0.6.0
Flask-HTTPAuth==4.8.0
python-dotenv==1.0.0
livereload==2.6.3
tornado<6.3.0
google-cloud-compute==1.14.0
google-cloud-gke-hub==1.10.1
google-cloud-storage==2.10.0
google-cloud-monitoring==2.15.1
google-api-python-client==2.98.0
google-cloud-container==2.31.0
google-cloud-gke-backup==0.5.1
Flask-SQLAlchemy==3.1.1
werkzeug==0.16.1
