<!doctype html>
<html lang="en">
<head>
  {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if request.path == '/' %}
      <meta http-equiv="refresh" content="120">
    {% endif %}

    {% block styles %}
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
    {% endblock %}

    <title>BFD Dashboard</title>
  {% endblock %}
</head>
<body>
<!-- Your page content -->
{% block content %}{% endblock %}

{% block scripts %}
  <!-- Optional JavaScript -->
  {{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>