{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap4/table.html' import render_table %}

{% block content %}
{% include 'navbar.html' %}
  <div class="main-content d-flex">
    <aside class="side-bar">
      <div class="alert-filter-form">
        <h4 class="form-heading">Add Project</h4>
        <div class="alert-filter-form-inner">
          {{ render_form(form) }}
        </div>
      </div>
    </aside>
  <!-- <div class="row"> -->
    <div class="dash-main-content manage-credentials">
      <div class="dash-main-content-inner">
        <div class="main-heading">
          <a href="../">
              <div class="back-arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M16.0604 21.546C16.3417 21.2647 16.4996 20.8832 16.4996 20.4855C16.4996 20.0877 16.3417 19.7063 16.0604 19.425L8.63545 12L16.0604 4.57499C16.3337 4.29209 16.4849 3.91318 16.4815 3.51989C16.478 3.12659 16.3203 2.75037 16.0422 2.47226C15.7641 2.19415 15.3878 2.0364 14.9946 2.03298C14.6013 2.02956 14.2224 2.18075 13.9394 2.45399L5.45395 10.9395C5.17274 11.2208 5.01477 11.6022 5.01477 12C5.01477 12.3977 5.17274 12.7792 5.45395 13.0605L13.9395 21.546C14.2207 21.8272 14.6022 21.9852 15 21.9852C15.3977 21.9852 15.7792 21.8272 16.0604 21.546Z" fill="white"/>
                  </svg>
              </div>
          </a>
          <h1>BFD Service Resiliency Dashboard</h1>
      </div>
      <h4 class="manage-table-title">Credentials List</h4>
        <div class="overall-backups-table-main">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="th-1">Project ID</th>
                <th scope="col" class="th-2">Credentials JSON</th>
                <th scope="col" class="th-3">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for item in data %}
              <tr>
              <td class="td-1">{{ item.project_id }}</td>
              <td class="td-2"><pre>{{ item.json }}</pre></td>
              <td class="td-3">
                <form
                    action="{{ url_for('delete_credential', project_id=item.project_id) }}"
                    method="POST"
                >
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <button class="btn btn-primary" hx-confirm="Are you sure you wish to delete this credential?">Delete</button>
                </form>
              </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- <div class="col-3">
      <div class="alert-filter-form">
        <h4 class="form-heading">Add Project</h4>
        <div class="alert-filter-form-inner">
          {{ render_form(form) }}
        </div>
      </div> -->
    </div>
  <!-- </div> -->
  </div>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <a href="index.html"><span class="logo-text">BFD.</span></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <aside class="side-bar">
        <div class="alert-filter-form">
          <h4 class="form-heading">Add Project</h4>
          <div class="alert-filter-form-inner">
            {{ render_form(form) }}
          </div>
        </div>
      </aside>
    </div>
</div>
{% endblock %}
